.postpage {
  width: 90vw;
  height: 100%;
  margin: auto;
  position: relative;
}

.postcontent {
  width: 300px;
  margin: auto;
}
.postpage h1 {
  font-size: 16px;
}
.postpage section {
  width: 90%;
  margin: 10px auto;
  background-color: #dbdbdb;
  padding: 20px;
}
